<% provide(:title, "About") %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
<style type="text/css" media="all">
@import "app/assets/images/style.css";
</style>
</head>
<body>
<div id="page-container">
  <div id="sidebar-a">
    <div class="padding">
      <img src="/assets/images/smndiaye.jpg" height="150" width="150" />
	  <table class="table_facts" cellspacing="0" cellpadding="0">
	  <tr><td class="col_one"><center><strong>Serigne Mbacké Ndiaye</strong></center></td></tr>
	  <tr><td class="col_one"><strong>Country: </strong>Senegal</td></tr>
	  </table>
    </div>
  </div>
  <div id="content">
    <div class="padding">
	<img src="/assets/images/smartgrid.jpg" height="50" width="400" /><br /><br />
      <h2>Serigne Mbacké Ndiaye</h2>
      <br />
      <h4><a href="#">Research Interests</a></h4>
      <br />
      <table class="table_facts" cellspacing="0" cellpadding="0">
	  <tr><td class="col_one"><strong> Smart Grid: </strong> 
	   <br />Smart Grid Network, 
	   <br />Energy Sharing in Smart Grid, 
	   <br />Electric Vehicle and Smart Grid, 
	   <br />Smart Grid renewable energy management</td></tr>
	  </table><br />
	  <br />
      <h4><a href="#">Background</a></h4>
      <br />
      <table class="table_facts" cellspacing="0" cellpadding="0">
	  <tr><td class="col_one"><center><strong>Serigne Mbacké Ndiaye</strong></center></td></tr>
	  <tr><td class="col_one"><strong>Country: </strong>Senegal</td></tr>
	  </table>
    </div>
  </div>
</div>
</body>
</html>
