<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
</head>
<body>
	<div class="center jumbotron">
	  <%= image_tag "smartgrid.png" %>
	  <h2>Smart Grid Web Community</h2>
	  <h3>Green World !</h3>
	  <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
	</div>
	<%= link_to "XSS", xss_path %>
	
</body>
</html>