<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
</head>
<body>
	<p>l'amour est un enfant de boheme qui n'a jamais jamais connu de loi</p>
	<%user = { :first_name => "Michael", :last_name => "Hartl" }%>
	<%=user[:first_name]%>
</body>
</html>