<% if @users.blank? %>
  <h4>There is no user containing the term <%= params[:search] %>.</h4>
<% end %>
<h1>Users</h1>
<p>test script: ' OR EXISTS (SELECT * FROM Users) AND ''='</p>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>